---
- name: Perform optional versionscheck
  ansible.builtin.include_tasks: versioncheck.yml
  when: submodules_versioncheck|bool

- name: Include OS Specific vars
  ansible.builtin.include_vars: "{{ ansible_distribution }}.yml"

- name: Install firefox
  become: true
  ansible.builtin.package:
    name: "{{ firefox_package_name }}"
    state: present

- name: Install firefox language german, if package available
  become: true
  ansible.builtin.package:
    name: "{{ firefox_language }}"
    state: present

- name: Install firefox plugins, if package available
  become: true
  ansible.builtin.package:
    name: "{{ firefox_plugins }}"
    state: present

- name: Install Password manager, if whished
  become: true
  ansible.builtin.package:
    name: "{{ password_manager_packages }}"
    state: present
  when: install_pass_as_password_manager|bool
